.navbar {
  height: 60px;
  width: 900px;
  display: flex;
  align-items: center;
  background: #f3f3f3;
  margin: 0 auto;
}
.navbar ul {
  list-style: none;
  display: flex;
}
@media screen and (max-width: 600px) {
  .navbar ul {
    display: none;
  }
}
