* {
    padding: 0;
    margin: 0;
}

main {
    width: 600px;
    padding: 100px;
    margin: 0 auto;

    article {
        width: 150px;
        position: relative;
        background: red;
        border: solid 1px red;
        cursor: pointer;
        font-size: 14px;
        color: #555;

        &:hover {
            div:nth-of-type(1) {
                border-bottom: none;
            }

            div:nth-of-type(2) {
                display: block;
            }
        }

        div {
            box-sizing: border-box;
            height: 45px;
            line-height: 3em;
            text-align: center;
            border: solid 2px blueviolet;
        }

        div:nth-of-type(1) {
            background: white;
        }

        div:nth-of-type(2) {
            display: none;
            position: absolute;
            right: 0;
            left: -100px;
            z-index: -1;
        }
    }
}