body {
  padding: 100px;
}
article {
  padding: 30px;
  border: solid 2px red;
  width: 200px;
}
article div {
  width: 100px;
  height: 100px;
  border: solid 2px red;
  padding: 20px;
}
article div:nth-of-type(1) {
  visibility: hidden;
}
