p {
    width: 500px;
    border: solid 2px #ddd;
    padding: 10px;
    overflow: hidden;
}

span.shape {
    float: left;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 30px;
    background: red;
    clip-path: polygon(50% 0, 100% 100%, 0 100%)
}