//Table of content
@import "includes/table-of-content";

//Mixins
@import "includes/structure/sidebars-push-effect";
@import "includes/mixins/type-check";
@import "includes/mixins/triangle";
@import "includes/mixins/font-size";
@import "includes/mixins/booking";

//Config variables
@import "includes/config";
@import "includes/bootstrap-variables";

//Bootstrap lib
@import "../assets/lib/bootstrap/sass/bootstrap";
@import "includes/config-after";

//Plugins source code
@import "../assets/lib/jquery.niftymodals/src/sass/style-bootstrap";


//General style
@import "includes/general";

//Fonts
@import "includes/fonts/roboto";

//Structure
@import "includes/structure/main-wrapper";
@import "includes/structure/top-header";
@import "includes/structure/top-header/icons-nav";
@import "includes/structure/top-header/user-dropdown";
@import "includes/structure/top-header/notifications-dropdown";
@import "includes/structure/top-header/connections-dropdown";
@import "includes/structure/left-sidebar";
@import "includes/structure/left-sidebar/progress-widget";
@import "includes/structure/right-sidebar";
@import "includes/structure/right-sidebar/tab-chat";
@import "includes/structure/right-sidebar/tab-todo";
@import "includes/structure/right-sidebar/tab-settings";
@import "includes/structure/main-content";
@import "includes/structure/page-head";
@import "includes/structure/page-aside";
@import "includes/structure/splash-screen";
@import "includes/structure/scroll-top";
@import "includes/structure/sub-navigation";

//Forms
@import "includes/forms/switch-button";

//Elements
@import "includes/elements/widgets";
@import "includes/elements/charts";
@import "includes/elements/colors";
@import "includes/elements/grid";
@import "includes/elements/icons";
@import "includes/elements/loader";
@import "includes/elements/code";
@import "includes/elements/divider";
@import "includes/elements/pricing-tables";
@import "includes/elements/option-buttons";
@import "includes/elements/timeline";
@import "includes/elements/table-filters";
@import "includes/elements/invoice";

//Widgets
@import "includes/elements/widgets/calendar";
@import "includes/elements/widgets/map";
@import "includes/elements/widgets/tiles";
@import "includes/elements/widgets/user-profile-display";
@import "includes/elements/widgets/user-info-list";
@import "includes/elements/widgets/user-progress";
@import "includes/elements/widgets/user-timeline";

//Specific pages style
@import "includes/pages/login";
@import "includes/pages/404";
@import "includes/pages/sign-up";
@import "includes/pages/forgot-password";
@import "includes/pages/gallery";
@import "includes/pages/email";
@import "includes/pages/code-editor";
@import "includes/pages/booking";

//Bootstrap elements
@import "includes/bootstrap/mixins/alerts";
@import "includes/bootstrap/mixins/buttons";
@import "includes/bootstrap/mixins/table-row";
@import "includes/bootstrap/mixins/panels";
@import "includes/bootstrap/mixins/modals";
@import "includes/bootstrap/mixins/dropdown";
@import "includes/bootstrap/mixins/labels";
@import "includes/bootstrap/mixins/badges";
@import "includes/bootstrap/mixins/tabs";
@import "includes/bootstrap/mixins/forms";

@import "includes/bootstrap/grid";
@import "includes/bootstrap/images";
@import "includes/bootstrap/code";
@import "includes/bootstrap/buttons";
@import "includes/bootstrap/button-group";
@import "includes/bootstrap/breadcrumbs";
@import "includes/bootstrap/panels";
@import "includes/bootstrap/dropdowns";
@import "includes/bootstrap/accordions";
@import "includes/bootstrap/tabs";
@import "includes/bootstrap/modals";
@import "includes/bootstrap/alerts";
@import "includes/bootstrap/tables";
@import "includes/bootstrap/badges";
@import "includes/bootstrap/labels";
@import "includes/bootstrap/popovers";
@import "includes/bootstrap/list-group";
@import "includes/bootstrap/type";
@import "includes/bootstrap/wells";
@import "includes/bootstrap/progress-bars";
@import "includes/bootstrap/pagination";
@import "includes/bootstrap/forms";
@import "includes/bootstrap/input-groups";

//Plugins
@import "includes/plugins/bootstrap-markdown";
@import "includes/plugins/bootstrap-multiselect";
@import "includes/plugins/datatables";
@import "includes/plugins/daterangepicker";
@import "includes/plugins/datetimepicker";
@import "includes/plugins/dropzone";
@import "includes/plugins/full-calendar";
@import "includes/plugins/gritter";
@import "includes/plugins/multiselect";
@import "includes/plugins/nestable-lists";
@import "includes/plugins/parsley";
@import "includes/plugins/perfect-scrollbar";
@import "includes/plugins/select2";
@import "includes/plugins/slider";
@import "includes/plugins/summernote";
@import "includes/plugins/vector-maps";
@import "includes/plugins/wizard";
@import "includes/plugins/x-editable";

//Helper classes
@import "includes/helpers";