// 
// variables-dark.scss
// Dashkit dark version
//

// 
// Bootstrap Overrides ===================================
//


//
// Color system
//

// stylelint-disable
$white:    #FFFFFF !default;
$gray-100: #F9FBFD !default;
$gray-200: #EDF2F9 !default;
$gray-300: #E3EBF6 !default;
$gray-400: #D2DDEC !default;
$gray-500: #B1C2D9 !default;
$gray-600: #95AAC9 !default;
$gray-700: #6E84A3 !default;
$gray-800: #3B506C !default;
$gray-900: #283E59 !default;
$black:    #12263F !default;

$blue:       #2C7BE5 !default;
$indigo:     #727cf5 !default; // NOT USED
$purple:     #6b5eae !default;
$pink:       #ff679b !default; // NOT USED
$red:        #E63757 !default;
$orange:     #fd7e14 !default; // NOT USED
$yellow:     #F6C343 !default;
$green:      #00D97E !default;
$teal:       #02a8b5 !default; // NOT USED
$cyan:       #39afd1 !default; // NOT USED

$gray-600-dark: #244166 !default;
$gray-700-dark: #1E3A5C !default;
$gray-800-dark: #152E4D !default;
$gray-900-dark: #132A46 !default;
$black-dark: #12263F !default;

$primary:       $blue !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-800-dark !default;
$dark:          $black !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white
), $theme-colors);
// stylelint-enable

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;


// Body
//
// Settings for the `<body>` element.

$body-bg: $black-dark !default;
$body-color: $white !default;


// Components
//
// Define common padding and border radius sizes and more.

$border-color: $gray-700-dark !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$text-muted: $gray-700 !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-border-color: $border-color !default;

$table-head-bg: $black-dark !default;


// Forms

$input-bg: $gray-700-dark !default;

$input-color: $white !default;
$input-border-color: $black-dark !default;

$input-placeholder-color: $gray-600 !default;

$custom-control-indicator-bg: $gray-600-dark !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg: $gray-800-dark !default;
$dropdown-border-color: $black !default;
$dropdown-divider-bg: $black !default;

$dropdown-link-color: $text-muted !default;
$dropdown-link-hover-color: $white !default;


// Navbar

$navbar-light-hover-color: $white !default;
$navbar-light-active-color: $white !default;


// Pagination

$pagination-color: $white !default;
$pagination-bg: $gray-800-dark !default;
$pagination-border-color: $gray-600-dark !default;

$pagination-hover-color: $white !default;
$pagination-hover-bg: $gray-900-dark !default;
$pagination-hover-border-color: $gray-700-dark !default;

$pagination-disabled-bg: $gray-900-dark !default;
$pagination-disabled-border-color: $gray-700-dark !default;


// Jumbotron

$jumbotron-bg: $gray-800-dark !default;


// Cards

$card-bg: $gray-800-dark !default;
$card-border-color: $border-color !default;


// Tooltips

$tooltip-bg: $black !default;
$tooltip-color: $white !default;


// Popovers

$popover-bg: $gray-800-dark !default;
$popover-border-color: $black !default;


// Modals

$modal-content-bg: $gray-800-dark !default;
$modal-content-border-color: $black !default;


// Progress bars

$progress-bg: $gray-600-dark !default;


// 
// Dashkit =====================================
//

// Auth

$auth-bg: $body-bg !default;


// Avatar

$avatar-title-bg: $gray-600-dark !default;


// Badges

$badge-soft-bg-level: 10 !default;


// Cards

$card-outline-color: transparent !default;


// Comment

$comment-body-bg: $gray-700-dark;


// Header

$header-body-border-color-dark: $border-color !default;


// Navbar

$navbar-light-bg: $gray-800-dark !default;
$navbar-light-border-color: $black-dark !default;


// Toggle

$toggle-handle-bg: $gray-800-dark !default;
$toggle-handle-active-bg: $white !default;