/*------------------------------------------------------------------
  [Colors]
*/
.clr-primary{				background-color: theme-color("primary"); }
.clr-success{				background-color: theme-color("success"); }
.clr-warning{				background-color: theme-color("warning"); }
.clr-danger{				background-color: theme-color("danger"); }
.clr-grey{					background-color: theme-color("grey"); }