* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.col-12 {
    grid-column: span 12;
}

.col-11 {
    grid-column: span 11;
}

.col-10 {
    grid-column: span 10;
}

.col-9 {
    grid-column: span 9;
}

.col-8 {
    grid-column: span 8;
}

.col-7 {
    grid-column: span 7;
}

.col-6 {
    grid-column: span 6;
}

.col-5 {
    grid-column: span 5;
}

.col-4 {
    grid-column: span 4;
}

.col-3 {
    grid-column: span 3;
}

.col-2 {
    grid-column: span 2;
}

.col-1 {
    grid-column: span 1;
}