@import url(page.css);
@import url(margin.css);
@import url(common.css);
@import url(navbar.css);
@import url(title.css);
@import url(list-group.css);
@import url(card.css);
@import url(small-x.css) only screen and (max-width:768px);
@import url(small.css) only screen and (min-width:768px);
@import url(medium.css) only screen and (min-width:960px);
@import url(big.css) only screen and (min-width:1200px);